<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {
            width: 500px;
            height: 100px;
            background-color: blue;
            color: black;
            padding:20px;
            font-size:70px;
            text-align: center;
        }

        main {
            width: 300px;
            height: 60vh;
            background-color: green;
            color: black;
            padding:20px;
        }

        footer {
            margin-top: 20px;
            width: 100%;
            height: 100px;
            background-color: black;
            color: white;
            padding:20px;
            font-size:70px;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        This is Header
    </header>
    <main>
        {{{body}}}
    </main>
   {{>welcome}}
</body>

</html>